<div class="card mb-4" [ngClass]="{'pointer' : cardInfo.href !== ''}" (click)="goArtistPage()">
  <img src="{{cardInfo.images | noImage}}" class="card-img-top"
       width="{{cardInfo.images | imageDimensions :'width'}}"
       height="{{cardInfo.images | imageDimensions:'height'}}">
  <div class="card-body">
    <h5 class="card-title">{{cardInfo.title}}</h5>
    <a class="btn btn-primary margin-artist" *ngFor="let relation of cardInfo.relations" type="button"
       routerLink="/artist/{{relation.id}}">{{relation.name}}</a>
  </div>
</div>
